*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "helvetica";
  background: #d8e5e5; 
  /* background: linear-gradient(blue, red);
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.container {
  background: #3d4543;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 1em;
  color: #fff;
}

input {
  margin: 5px 0px 15px 0px;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-top: 7px;
  height: 3em;
  width: 3em;
  zoom: 1.5;
  font-weight: bold;
  outline: none;
  border: none;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 2px;
  background: #ff4561;
  color: white;
  background-image: -webkit-linear-gradient(top, #ff7286, #ff4561);
  background-image: -moz-linear-gradient(top, #ff7286, #ff4561);
  background-image: -o-linear-gradient(top, #ff7286, #ff4561);
  background-image: linear-gradient(to bottom, #ff7286, #ff4561);
}

.btn:hover {
  opacity: 0.7;
}

.clear {
  margin-top: 1em;
  height: auto;
  width: auto;
  background: yellowgreen;
  padding: 0.7em;
}