<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚡ GRADE CALCULATOR</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-app="myApp" ng-controller="myController">
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Obtained Marks</th>
                    <th scope="col">Out of Marks</th>
                    <th scope="col">Total Marks</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in subjects;">
                    <td>{{ $index + 1  }}</td>
                    <td><input type="text" ng-model="subject.name"></td>
                    <td><input type="number" ng-model="subject.obmarks"></td>
                    <td><input type="number" ng-model="subject.outof"></td>
                    <td>{{ subject.obmarks }}</td>
                    <td align="center" ng-click="remove($index)" role="button">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                        </svg>
                    </td>
                </tr>
                <td colspan="4" align="right"><b>Total obtained marks</b></td>
                <td colspan="4">{{ total().tobm }} / {{ total().tofm }}</td>
                </tr>
                </tr>
                <td colspan="5" align="center"><b>You have {{  total().result || 0 }}% and your grade is
                        {{  total().grade || ':('}}</b></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-primary" ng-click="add()">+ subjects &nbsp;</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>